# 前端依赖
frontend/node_modules/
# Next构建缓存
frontend/.next/
frontend/dist/
frontend/build/
frontend/package-lock.json
frontend/tsconfig.tsbuildinfo
# 大二进制文件
frontend/*.node

# 环境、日志文件
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/uploads/*
backend/data/*
backend/.env
